<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div class="page">
    <div class="container">


        <div class="jumbotron text-center bg-secondary" style="font-size:40px">Calculatrice</div>

        <ul class="nav d-flex justify-content-around border border-dark">
            <li class="nav-item"><a href="/">Accueil</a></li>
            <li class="nav-item"><a href="/technos">Technos</a></li>
        </ul>

<table class="table table-sm table-bordered table-hover">
<thead class="text-center bg-dark text-light">
    <th>Nom</th>
    <th>Description</th>
</thead>

<tbody>
    <tr>
<td><i class="fab fa-node-js"></i>nodejs</td>
<td>framework js coté serveur</td>
</tr>

<tr>
<td><i class="fas fa-database"></i>mongoose</td>
<td></td>
</tr>

<tr>
    <td><i class="fab fa-bootstrap"></i>bootstrap</td>
    <td>Framework css</td>
</tr>
</tbody>
</table>

    </div>
</div>

<style>
 
</style>