<form action="/livre/add" method="post">
    <label for="title">Titre</label>
    <input type="text" name="title" id="title">

    <label for="date">Date</label>
    <input type="date" name="date" id="date">

    <button type="submit">Enregistrer</button>
</form>
<a href="http://localhost:3000/livre">Retour</a>