
    <link href="https://fonts.googleapis.com/css?family=Karla|McLaren|Roboto|Rubik&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <nav class="navbar navbar-default bg-dark">
            <span>
                <a href="/">
                <i class="fas fa-address-book text-info" style="font-size:4rem;"></i>
                </a>
            </span>
      <ul class="nav d-flex justify-content-around" style="width:30%;">
            <li class="nav-item">
                    <a href="/">Accueil</a>
                </li>
        <li class="nav-item">
            <a href="/technos">Technos</a>
        </li>
      </ul>
                  </nav>