<% include partials/head %>


<div class="container w-100 d-flex justify-content-center">


    <section>

        <article>
            <aside><i class="fab fa-node-js"></i></aside>

            <div class="content w-100">
                <h4 class="text-center">Nodejs</h4>
                <p>
                    javascript coté serveur
                </p>
            </div>
        </article>

        <article>
            <aside><i class="fas fa-database"></i></aside>

            <div class="content w-100">
                <h4 class="text-center">Mongodb</h4>
                <p>
                        MongoDB est une base de données distribuée, universelle et basée sur des documents, qui a été conçue pour les développeurs d'applications modernes et pour l'ère du Cloud. 
                        Aucune autre base de données n'offre une telle productivité
                </p>
            </div>
        </article>

        <article>
            <aside>Express</aside>

            <div class="content w-100">
                <h4 class="text-center">Express</h4>
                <p>
                        Express est une infrastructure d'applications Web Node.js minimaliste et flexible 
                        qui fournit un ensemble de fonctionnalités robuste pour les applications Web et mobiles. 
                </p>
            </div>
        </article>

        <article>
            <aside>EJS</aside>

            <div class="content w-100">
                <h4 class="text-center">ejs</h4>
                <p>
                    template de page tout comme blade pour laravel
                </p>
            </div>
        </article>

        <article>
            <aside></aside>

            <div class="content w-100">
                <h4 class="text-center">moment</h4>
                <p>
                   Manipule les format date 
                </p>
            </div>
        </article>
    </section>
</div>
<style>
    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 20%;
        margin:50px 0;
        text-align: center;

        border-radius:20px;
        box-shadow: 4px 4px 13px 1px rgba(0, 0, 0, 0.63);
    }
i{
    font-size:6rem;

}
    section {
        width: 70%;
    }

    aside {
        background-color: aquamarine;
        width: 30%;
        font-family:McLaren;
        height:100%;
        display: inline-block;
        line-height:20%; 
    }

    .content {
        display: flex;
        flex-direction: column;
    }
</style>