<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./public/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tap Music</title>
  </head>
  <body>

    <div id="menu">
      <button id="bar" class="btn setting-btn" data-toggle="collapse" aria-expanded="false" data-target="#content" aria-controls="content" class="">
        <i class="fas fa-cog"></i>
      </button>
      <div id="content" class="collapse">
        <form class="pl-2" action="/update" method="post" enctype="multipart/form-data">

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 1 :</span>
            </div>
            
            <div class="col-8">
              <input type="file" class="" name="file1" id="file1" >
            </div>
          </div>

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 2 :</span>
            </div>
            <div class="col-8">
              <input type="file" class="" name="file2" id="file2" >
            </div>
          </div>

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 3 :</span>
            </div>
            <div class="col-8">
              <input type="file" class="" name="file3" id="file3" >
            </div>
          </div>

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 4 :</span>
            </div>
            <div class="col-8">
              <input type="file" class="" name="file4" id="file4" >
            </div>
          </div>

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 5 :</span>
            </div>
            <div class="col-8">
              <input type="file" class="" name="file5" id="file5" >
            </div>
          </div>

          <div class="row mr-0">
            <div class="col-2">
              <span>Son 6 :</span>
            </div>
            <div class="col-8">
              <input type="file" class="" name="file6" id="file6" >
            </div>
          </div>

          <!-- <div>
            <span>emplacement 1 <input type="file" class="form-control-file" name="file1" id="" > </span>
          </div>

          <div>
              <span>emplacement 2 <input type="file" name="file2" id=""> </span>
          </div> -->

          <!-- <div>
              <span>emplacement 3 <input type="file" name="file3" id=""> </span>
          </div>

          <div>
              <span>emplacement 4 <input type="file" name="file4" id=""> </span>
          </div>

          <div>
              <span>emplacement 5 <input type="file" name="file4" id=""> </span>
          </div>

          <div>
              <span>emplacement 6 <input type="file" name="file5" id=""> </span>
          </div> -->
          <div class="text-right pb-2 pr-2">
            <button class="btn btn-success" type="submit">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>


    <section class="app">
      <header>
        <h1>Tap Music</h1>
        <p>Create sounds with just one tap</p>
      </header>
      <div class="visual"></div>
      <div class="pads">
          <% for(let sound of sounds) {%>
            <div class="pad<%=i++%>">
                    <audio src="../public/sounds/<%=sound.nom%>" class="sound"></audio>
                  </div>
            <%}%>

      </div>
    </section>

    <script src="./public/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
