<%- include partials/head %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="container">

<article class="d-flex flex-row">
<aside >
        <figure class="figure">
                <img src="../upload/<%=article.image%>" class="figure-img img-fluid rounded" alt="">
              
              </figure>  
</aside>

<div>
<header><%= article.titre%></header>

<p><%= article.titre%></p>

</div>
</article>

    </div>

<style>
article{
    box-shadow: 3px 3px 5px 0px #656565;

}
aside{
    width:10%;
}
</style>