<%- include ("partials/head") %>

<form action="/add" method="post">
    <div class="form-group">
        <label for="exampleInputPassword1">Nom</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="nom" placeholder="nom">  
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Prénom</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="prenom" placeholder="nom"> 
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">roles</label>
        <select name="role" id="">
            <%for(let r of roles){%>
<option value="<%= r._id %>"><%=r.nom%></option>
                <%}%>
        </select> 
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
<style>
form{
    border:solid 1px black;
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

</style>